<div class="card border-primary mb-8">
    <div class="card-body">
        <button class="btn btn-outline-dark" (click)="newComment()"><i class="plus-circle"></i> Agregar Comentario</button>
    </div>
    <div class="card-body">
        <input type="text" value="" placeholder="Buscar" (onchange)="search()"/>
    </div>
    <div class="card-body text-primary"> 
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th width="25%">Nombre</th>
                <th width="25%">Email</th>
                <th width="40%">Website</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr *ngFor="let comment of commentsList">
                    <td>{{comment.name}}</td>
                    <td>{{comment.email}}</td>
                    <td>{{comment.website}}</td>
                    <td><button class="btn btn-outline-dark" (click)="editComment(comment)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
