<div class="content">
    <form [formGroup]='commentForm' autocomplete="off" (ngSubmit)="save()" novalidate>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" class="form-control">
            <div *ngIf="commentForm.get('name').touched && commentForm.get('name').invalid" class="text-danger">
                <div *ngIf="commentForm.get('name').errors?.required">El nombre es requerido.</div>
                <div *ngIf="commentForm.get('name').errors?.pattern">El nombre permite solo letras.</div>
                <div *ngIf="commentForm.get('name').errors?.maxlength">Longitud de nombre no debe exceder 35 caracteres.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input formControlName="email" class="form-control">
            <div *ngIf="(commentForm.get('email').touched && commentForm.get('email').invalid)||commentForm.get('email').dirty" class="text-danger">
                <div *ngIf="commentForm.get('email').errors?.required">El Email es requerido.</div>
                <div *ngIf="commentForm.get('email').errors?.pattern">Email inválido.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="website">Página Web</label>
            <input formControlName="website" class="form-control">
            <div *ngIf="commentForm.get('website').touched && commentForm.get('website').invalid" class="text-danger">
                <div *ngIf="commentForm.get('website').errors?.pattern">Website inválido.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="content">Comentario</label>
            <textarea class="form-control" rows="4" formControlName="content" ></textarea>
            <div *ngIf="commentForm.get('content').touched && commentForm.get('content').invalid" class="text-danger">
                <div *ngIf="commentForm.get('content').errors?.required">El Comentario es requerido.</div>
                <div *ngIf="commentForm.get('content').errors?.pattern">El comentario permite solo letras.</div>
                <div *ngIf="commentForm.get('content').errors?.maxlength">Comentario no puede exceder los 100 caracteres.</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-outline-dark" [disabled]="!commentForm.valid">Guardar</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-outline-dark" (click)="back()">Regresar</button>
            </div>
        </div>
    </form>
</div>


